<div class="mb-4">
<p class="text-muted">
  📅 {{ dateHoy | date:'fullDate' }}
</p>

  <label for="sesion" class="form-label fw-bold"
    >Seleccioná una clase del día:</label
  >
  <select
    id="sesion"
    class="form-select"
    name="sesion"
    [(ngModel)]="sesionSeleccionada"
    (change)="onSeleccionarSesion()"
    required
  >
    <option [ngValue]="null" disabled>-- Elegí una opción --</option>
    <option *ngFor="let s of sesiones" [ngValue]="s">
      {{ s.Activity?.name }} - {{ s.Hour?.hour }} hs ({{
        s.available_spots
      }}
      cupos)
    </option>
  </select>
</div>

<div *ngIf="alumnos.length > 0" class="mt-4">
  <h4 class="mb-3 fw-bold">Listado de Alumnos Inscriptos</h4>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr class="text-center">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Clases</th>
        <th>Presente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of alumnos; index as i">
        <td class="align-middle">{{ a.nombre }}</td>
        <td class="align-middle">{{ a.apellido }}</td>
        <td></td>
        <td class="text-center align-middle">
          <input
            type="checkbox"
            [(ngModel)]="a.present"
            [disabled]="a.present"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end">
    <button class="btn btn-success" (click)="registrarAsistencia()">
      <i class="bi bi-check-square"></i> Registrar Asistencia
    </button>
  </div>
</div>

<div
  *ngIf="sesionSeleccionada && alumnos.length === 0"
  class="alert alert-info mt-3"
>
  Esta clase no tiene alumnos inscriptos.
</div>
