.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  background-color: #222;
  color: white;
  padding: 20px;
}

.footer > div {
  flex: 1; 
  align-items: center;
  text-align: center;
  margin-top: 30px;
  min-width: 200px; 
}

.footer > div:last-child {
  flex-basis: 100%;
  text-align: center; 
 
}

.mapa iframe {
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); 
}