<footer class="footer">
  <div class="contacto">
    <h4>Contacto</h4>
    <p>📍 René Bracamonte 6155, Córdoba</p>
    <p>📞 +54 9 11 1234 5678</p>
    <p>📧 contacto&#64;mi-box.com</p>
  </div>

  <div class="redes">
    <h4>Seguinos</h4>
    <a href="https://instagram.com" target="_blank">Instagram</a>
    <br>
    <a href="https://facebook.com" target="_blank">Facebook</a>
  </div>

  <div class="mapa">
    <h4>Ubicación</h4>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.3569006471747!2d-64.2484358!3d-31.343383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329faece7e0031%3A0xe4ca247ca09f4c52!2sGarden%20Arena!5e0!3m2!1ses!2sar!4v1718626700000!5m2!1ses!2sar"
    width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
  </div>

  

  <div><p>&copy; 2025 Franco Gabrielleschi. Todos los derechos reservados.</p></div>
</footer>
