<footer class="footer">
  <div class="contacto">
    <h4>Contacto</h4>
    <p>📍 Calle Ficticia 123, Ciudad</p>
    <p>📞 +54 9 11 1234 5678</p>
    <p>📧 contacto&#64;mi-box.com</p>
  </div>

  <div class="redes">
    <h4>Seguinos</h4>
    <a href="https://instagram.com" target="_blank">Instagram</a>
    <br>
    <a href="https://facebook.com" target="_blank">Facebook</a>
  </div>

  <div class="mapa">
    <h4>Ubicación</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3414.476774159419!2d-64.25476442447437!3d-31.341265574316864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329ea9d6c5deaf%3A0xc62d93868db44cea!2sAdolfo%20Doering%2C%20X5021%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1717022042791!5m2!1ses-419!2sar"  width="200" height="150" style="border:0;" loading="lazy"></iframe>
  </div>

  <div><p>&copy; 2025 Franco Gabrielleschi. Todos los derechos reservados.</p></div>
</footer>
