<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">Mi App</a>

  <!-- Botón hamburguesa -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarContent"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menú colapsable -->
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ms-auto">

      <ng-container *ngIf="isAuthenticated; else guestMenu">
        <li class="nav-item d-flex align-items-center me-2">
          <span class="nav-link">Hola, {{ user?.name }} {{ user?.lastName }}</span>
        </li>

        <li class="nav-item" *ngFor="let item of filteredMenuItems">
          <a class="nav-link" [routerLink]="item.path">{{ item.label }}</a>
        </li>

        <li class="nav-item mt-2 mt-lg-0">
          <button class="btn btn-outline-light ms-lg-3 w-100" (click)="logout()">Logout</button>
        </li>
      </ng-container>

      <ng-template #guestMenu>
        <li class="nav-item"><a class="nav-link me-2" routerLink="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link me-2" routerLink="/register">Registrarse</a></li>
      </ng-template>

    </ul>
  </div>
</nav>
